@model TravelTripProje.Models.Siniflar.Iletisim

<div class="form">
    <form class="cmxform" id="contactForm" method="post">
        <div>
            <input type="text" class="textbox" name="AdSoyad" placeholder="Name" required>
        </div>
        <div>
            <input type="text" class="textbox" name="Mail" placeholder="Email" required>
        </div>
        <div>
            <input type="text" class="textbox" name="Konu" placeholder="Subject" required>
        </div>
        <div class="form1">
            <textarea name="Mesaj" placeholder="Message" required></textarea>
        </div>

        <div>
            <button class="btn btn-danger" type="submit">Send Message</button>
        </div>
    </form>
</div>


